<title><h1>Mr. Hat</h1></title>

<div class="hat">
	
	<div class="names">
		<!--center><strong><h4> <!-= @students.first%--></h4> </strong> </center--> 
	<div>


	<center><%= link_to image_tag("magicHat.png", alt: "Ze Hat"), '/students/show'  %></center>

		
	<div class="yes"><strong> YES </strong></div>
	<div class="skip"><strong> SKIP </strong></div>
	<div class="no"><strong> NO </strong></div>	
</div>

<div>
<h2> Import students </h2>
		<%= form_tag import_students_path, multipart: true do %>
	  		<%= file_field_tag :file %>
	    	<%= submit_tag "Import" %>
		<% end %>
</div>
