<title> Login </title>
<div class="center hero-unit">
<h1>Welcome to Mr. Hat </h1>
	<%= image_tag("magicHat.png", alt: "Ze Hat")%>
	<%= link_to "Login", hat_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</div>

