<title><h1> Courses </h1></title> 
<h3><strong> Courses </strong></h3> 

<form class="form-inline input-append" >
	<%= form_for @my_course, :url => {:controller => 'users', :action => 'add_course'} do |f| %>
		<%= f.text_field :course_name, placeholder: "Course Name" %>
		<%= f.submit "Add Course", class: "btn btn-default btn-success" %>
	<% end %>
</form>

<ul class="courses">

	<% if empty_course?(@user) %>
		<% @avail_courses.each do |avail_course| %>
			<li>
				<strong>  <%= avail_course.course %>    </strong>
			</li>
		<% end %>
	<% else %>
		<strong> No courses available </strong>

	<% end %>
</ul>
