<title><h1> Courses </h1></title>
<h3><strong> Courses </strong></h3> 


<form class="form-inline input-append" >
	<%= form_for(:session, url: sessions_path) do |f| %>
		<!--%= f.label :course_name %-->
		<%= f.text_field :course_name, placeholder: "Course Name" %>
		<%= f.submit "Add Course", class: "btn btn-default btn-success" %>
	<% end %>
</form>

<div class="courses">
	<% if empty_course? %> 

		<strong> No courses available </strong>
	<% else %>
	<%= empty_course? %>
	<% end %>
</div>

		



